<ion-view title="{{network}}">
  <ion-content class="padding login">
    <input class="form-control" ng-model="username" name="username" placeholder="username" type="email"/>
    <input class="form-control" ng-model="password" name="password" placeholder="password" type="password"/>
    <div class="btn-wrapper">
      <button class="btn btn-default salesforce" ng-click="login(username, password)" type="button">
        Login with Salesforce
      </button>
      <button class="btn btn-default" ng-click="anonymous()" type="button">
        Skip
      </button>
    </div>
  </ion-content>
</ion-view>
