<ion-view title="{{network}}">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="message in messages" type="item-text-wrap">
        <img src="http://spacelist.ca/assets/v2/placeholder-user.jpg">
        <div>
          <div class="title">{{getAuthorFor(message).name}}</div>
          <div class="body">{{message.message}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="compose">
    <form>
      <input class="form-control" name="message" placeholder="write a message"/>
    </form>
  </div>
</ion-view>
