@import "./login";
@import "./mixins";

* {
  font-family: 'Varela Round', sans-serif;
}

input, button {
  font-size: 16px !important;
}

$tabHeight: 75px;
$feedPadding: 30px;

.tabs {
  @include transition(height);

  height: $tabHeight;
  padding-top: 15px;
}

.ionic-scroll.has-header.has-tabs {
  bottom: 195px;
}

.list {
  padding: 0px $feedPadding;

  .item {
    margin: 10px 0px;
    border-radius: 3px;

    background-image: linear-gradient(#fafafa, #ffffff);
  }
}

.compose {
  @include transition(bottom);

  position: absolute;
  bottom: $tabHeight;

  width: 100%;
  padding: $feedPadding;

  $inputHeight: 60px;

  input {
    float: left;
    height: $inputHeight;
  }
}
