@import "./login";
@import "./mixins";
@import "./users";

* {
  font-family: 'Varela Round', sans-serif;
}

input, button {
  font-size: 16px !important;
}

$tabHeight: 75px;
$feedPadding: 7px;

.tabs {
  @include transition(height);

  height: $tabHeight;
  padding-top: 15px;
}

.ionic-scroll.has-header.has-tabs {
  bottom: 130px;
  border-bottom: 1px solid #E3E3E3;
}

.list {
  padding: 0px $feedPadding;

  .item {
    margin: 7px 0px;
    padding: 3px;

    border-radius: 3px;

    background-image: linear-gradient(#fafafa, #ffffff);

    img {
      width: 30px;
      height: 30px;

      float: left;
      margin: 3px 7px 0px 3px;
      border-radius: 2px;
    }

    >div {
      float: left;
      width: calc(100% - 42px);

      div.title {
        font-weight: bold;
      }

      div.body {
        white-space: normal;
      }
    }
  }
}

.compose {
  @include transition(bottom);

  position: absolute;
  bottom: $tabHeight;

  width: 100%;
  padding: $feedPadding;

  $inputHeight: 40px;

  input {
    float: left;
    height: $inputHeight;
  }
}
